<section class="container px-5 py-6 ">
    <div class="card p-4 m-2">
        <div class="d-flex">
            <span class="p-2 text-white bg-info">{{user.username}}</span>
            <span class="p-2 border border-info">{{content}}</span>
            <span class="p-2 ml-auto p-2">{{format_date createdAt}}</span>
        </div>
    </div>
</section>