<section>
  <div class="container text-dark">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="d-flex flex-start mb-4">
          <div class="card w-100">
            <div class="card-body p-4">
              <div class="">
                <h5>{{user.username}}</h5>
                <small class="small">{{format_date createdAt}}</small>
                <p class="pt-2">{{content}}</p>
              </div>
            </div>
          </div>
        </div>

</section>