<section class="container px-5 py-6 mb-5">
    <div class="card p-4 m-2">
        <div class="form-outline w-100">
            <input type="text" class="form-control mb-2" placeholder="Title" id="titleText">
            <textarea class="form-control mb-2" id="contentText" rows="4" placeholder="Content"
                style="background: #fff;"></textarea>
        </div>
        <button type="button" class="btn btn-primary" id="create">Create Post</button>
    </div>
</section>