<section class="container px-5 py-6 mb-5">
    <div class="card p-4 m-2">
        <div class="form-outline w-100">
            <input type="text" class="form-control mb-2" placeholder="Title" id="titleText"  value="{{title}}">
            <textarea class="form-control mb-2" id="contentText" rows="4" placeholder="Content"
                style="background: #fff;">{{content}}</textarea>
        </div>
        <button type="button" class="btn btn-primary mb-2" id="update" data-pid="{{id}}">Update Post</button>
        <button type="button" class="btn btn-danger" id="back">Cancel</button>
    </div>
</section>